In [44]:
import pandas as pd
import numpy as np
import configparser

In [45]:
config = configparser.ConfigParser()
config.read('config.cfg')

['config.cfg']

In [46]:
config.get('RDS', 'DB_HOST')

'db-pfinal-donovan.c5yy8iwauekj.us-east-2.rds.amazonaws.com'

In [47]:
mysql_driver = f"""mysql+pymysql://{config.get('RDS', 'DB_USERNAME')}:{config.get('RDS', 'DB_PASSWORD')}@{config.get('RDS', 'DB_HOST')}:{config.get('RDS', 'DB_PORT')}/{config.get('RDS', 'DB_NAME')}"""

In [48]:
mysql_driver

'mysql+pymysql://admin_mysql:1Nt3grac10n2024gt@db-pfinal-donovan.c5yy8iwauekj.us-east-2.rds.amazonaws.com:3306/pfinal'

## Cargamos archivos csv

In [34]:
airlines = pd.read_csv('./dataPfinal/airlines.csv')
airlines.head()

  carrier                    name
0      9E       Endeavor Air Inc.
1      AA  American Airlines Inc.
2      AS    Alaska Airlines Inc.
3      B6         JetBlue Airways
4      DL    Delta Air Lines Inc.

In [35]:
airports = pd.read_csv('./dataPfinal/airports.csv')
airports.head()

,faa,name,lat,lon,alt,tz,dst,tzone
0,04G,Lansdowne Airport,41.130472,-80.619583,1044,-5,A,America/New_York
1,06A,Moton Field Municipal Airport,32.460572,-85.680028,264,-6,A,America/Chicago
2,06C,Schaumburg Regional,41.989341,-88.101243,801,-6,A,America/Chicago
3,06N,Randall Airport,41.431912,-74.391561,523,-5,A,America/New_York
4,09J,Jekyll Island Airport,31.074472,-81.427778,11,-5,A,America/New_York

In [36]:
flights = pd.read_csv('./dataPfinal/flights.csv')
flights.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00

In [37]:
planes = pd.read_csv('./dataPfinal/planes.csv')
planes.head()

,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,N10156,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
1,N102UW,1998.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
2,N103US,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
3,N104UW,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
4,N10575,2002.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,NaN,Turbo-fan

In [38]:
weather = pd.read_csv('./dataPfinal/weather.csv')
weather.head()

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
0,EWR,2013,1,1,1,39.02,26.06,59.37,270.0,10.35702,NaN,0.0,1012.0,10.0,2013-01-01T06:00:00Z
1,EWR,2013,1,1,2,39.02,26.96,61.63,250.0,8.05546,NaN,0.0,1012.3,10.0,2013-01-01T07:00:00Z
2,EWR,2013,1,1,3,39.02,28.04,64.43,240.0,11.50780,NaN,0.0,1012.5,10.0,2013-01-01T08:00:00Z
3,EWR,2013,1,1,4,39.92,28.04,62.21,250.0,12.65858,NaN,0.0,1012.2,10.0,2013-01-01T09:00:00Z
4,EWR,2013,1,1,5,39.02,28.04,64.43,260.0,12.65858,NaN,0.0,1011.9,10.0,2013-01-01T10:00:00Z

In [12]:
airlines.to_sql('airlines', mysql_driver, index=False, if_exists='append')

16

In [13]:
planes.to_sql('planes', mysql_driver, index=False, if_exists='append')

3322

In [14]:
airports.to_sql('airports', mysql_driver, index=False, if_exists='append')

1458

In [15]:
weather.to_sql('weather', mysql_driver, index=False, if_exists='append')

26115

In [60]:
# Crear una conexión al motor de MySQL
mysql_driver = create_engine(mysql_driver)


flights = pd.read_csv('./dataPfinal/flights.csv')



# Obtener los tailnum existentes en la tabla "planes"
existing_tailnums = mysql_driver.execute("SELECT tailnum FROM planes").fetchall()
existing_tailnums = [row[0] for row in existing_tailnums]

# Filtrar los datos de vuelo para incluir solo los registros con tailnum existentes
flights_filtered = flights[flights['tailnum'].isin(existing_tailnums)]

# Insertar los datos filtrados en la tabla "flights"
flights_filtered.to_sql('flights', mysql_driver, index=False, if_exists='append')

284170

### Leemos datos de la tabla airlines

In [62]:
sql_query = 'SELECT * FROM airlines;'
df_airlines = pd.read_sql(sql_query, mysql_driver)
df_airlines.head()

  carrier                    name
0      9E       Endeavor Air Inc.
1      AA  American Airlines Inc.
2      AS    Alaska Airlines Inc.
3      B6         JetBlue Airways
4      DL    Delta Air Lines Inc.

### Leemos datos de la tabla flights

In [65]:
sql_query = 'SELECT * FROM flights LIMIT 100;'
df_flights = pd.read_sql(sql_query, mysql_driver)
df_flights.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013.0,1.0,1.0,517,515.0,2,830,819.0,11,UA,1545,N14228,EWR,IAH,227.0,1400.0,5.0,15.0,2013-01-01 05:00:00
1,2013.0,1.0,1.0,533,529.0,4,850,830.0,20,UA,1714,N24211,LGA,IAH,227.0,1416.0,5.0,29.0,2013-01-01 05:00:00
2,2013.0,1.0,1.0,542,540.0,2,923,850.0,33,AA,1141,N619AA,JFK,MIA,160.0,1089.0,5.0,40.0,2013-01-01 05:00:00
3,2013.0,1.0,1.0,544,545.0,-1,1004,1022.0,-18,B6,725,N804JB,JFK,BQN,183.0,1576.0,5.0,45.0,2013-01-01 05:00:00
4,2013.0,1.0,1.0,554,600.0,-6,812,837.0,-25,DL,461,N668DN,LGA,ATL,116.0,762.0,6.0,0.0,2013-01-01 06:00:00

## Hacemos merge para ver las aerolineas

In [66]:
df_merge_tabs = df_airlines.merge(df_flights)
df_merge_tabs.head()

,carrier,name,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,9E,Endeavor Air Inc.,2013.0,1.0,1.0,810,810.0,0,1048,1037.0,11,3538,N915XJ,JFK,MSP,189.0,1029.0,8.0,10.0,2013-01-01 08:00:00
1,AA,American Airlines Inc.,2013.0,1.0,1.0,542,540.0,2,923,850.0,33,1141,N619AA,JFK,MIA,160.0,1089.0,5.0,40.0,2013-01-01 05:00:00
2,AA,American Airlines Inc.,2013.0,1.0,1.0,606,610.0,-4,858,910.0,-12,1895,N633AA,EWR,MIA,152.0,1085.0,6.0,10.0,2013-01-01 06:00:00
3,AA,American Airlines Inc.,2013.0,1.0,1.0,743,730.0,13,1107,1100.0,7,33,N338AA,JFK,LAX,358.0,2475.0,7.0,30.0,2013-01-01 07:00:00
4,AA,American Airlines Inc.,2013.0,1.0,1.0,745,745.0,0,1135,1125.0,10,59,N336AA,JFK,SFO,378.0,2586.0,7.0,45.0,2013-01-01 07:00:00